<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<div th:switch="${products}">
    <h2 th:case="null">No products found!</h2>
    <div th:case="*">
        <a th:href="@{/cart/shoping-cart}">Cart</a>
        <h1>Product List</h1>
        <ul>
            <li th:each="product : ${products}">

                <span th:text="${product.name}"></span>
                <span th:text="${product.cost}"></span>
                <a th:href="@{'/cart/' + ${cartId} + '/addProduct/' + ${product.id}}">Add to Cart</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
